  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <br>
        <app-sign-in></app-sign-in>
        <br>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">New User</h5>
              <p class="card-text">Register with your details.</p>
              <button type="submit" class="btn btn-primary" (click) = "onSignUp()">Sign Up</button>
            </div>
          </div>
    </div>
    <div class="col-sm-4"></div>
  </div>